header {
    text-align: center;
    /* margin-top: 0px; */
}

header > h1 {
    font-size: 1.25rem;
    font-weight: 500;
    color: #F9F4DA;
}

header > p {
    font-size: 0.875rem;
    max-width: 350px;
    font-weight: 500;
    color: #8E8E8E;
}

section.game-status {
    /* background-color: #e0f718; */
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #F9F4DA;
    border-radius: 4px;
    margin-block: 30px;
}

section.game-status-playing {
    background-color: #262626;
}

section.game-status-win {
    background-color: #10A95B;
}


section.game-status-lose {
    background-color: #e96565;
}

section.game-status > h2 {
    font-size: 1.25rem;
    margin: 5px;
}

section.game-status > p {
    margin: 5px;
}

section.language-chips {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
    max-width: 350px;
    margin-bottom: 36px
}

span.language-chip {
    border-radius: 3px;
    padding: 4.5px;
}

section.word-spaces {
    display: flex;
    justify-content: center;
    gap: 10px;
    /* margin-top: 30px; */
}

span.letter {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    font-size: 1.125rem;
    border-bottom: 1px solid #F9F4DA;
    background-color: #323232;
    color: #323232;
    /* margin-left: 10px; */
    /* font-weight: 500; */
    /* color: #565656; */
    /* background-color: #565656; */
    /* border-bottom: #e62525; */
    /* margin-left: 10px; */
    /* border-radius: 4px; */
}

span.letter-guessed {
    /* background-color: #FF5656; */
    color: #F9F4DA;
}

section.guesses {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 400px;
    font-size: 1.75rem;
    gap: 10px;
    margin-top: 30px;
}

.guess {
    border-radius: 4px;
    padding: 5px;
    min-width: 35px;
    min-height: 35px;
    /* width: 60px */
    box-shadow: 0px 2px 2px rgba(0,0,0,0.15);
    font-weight: bold;
    cursor: pointer;
}

.guess-normal {
    background-color: #CCCCCC;
    color: #444444;
}

.guess-right {
    background-color: #10A95B;
    color: #F9F4DA;
}

.guess-wrong {
    background-color: #FF395B;
    color: #F9F4DA;
}
